apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-code-with-quarkus-urht
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-code-with-quarkus-urht
    app.kubernetes.io/part-of: test-rhtap-9-app
  name: devfile-sample-code-with-quarkus-urht
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: devfile-sample-code-with-quarkus-urht
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: devfile-sample-code-with-quarkus-urht
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/test-rhtap-9-tenant/test-rhtap-9-app/devfile-sample-code-with-quarkus-urht@sha256:92412e0c5587689fdd0ad320abc853566eab2d5f7bc121978730d8add42d6701
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
